@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Irish+Grover&family=Winky+Rough:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Englebert&family=Irish+Grover&family=Winky+Rough:wght@600&display=swap');
body{
    background-color: rgb(172, 172, 117);
}
h1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align:center;
    color: black;
    right: 50%;
    bottom: 50%;
    padding: 50px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
}
.start{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    color: brown;
    right: 50%;
    bottom: 50%;
    padding: 50px;
}
.block{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    color: brown;
    right: 50%;
    bottom: 50%;
    
}
button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 46%;
    bottom: 60%;
    text-align: center;
    font-size: 75px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    
    
}
input{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    color: brown;
    right: 50%;
    bottom: 50%;
    padding: 50px;
}

.dad2{
    size: 1000px;
}
